{% extends "gallery/base.html" %}



{% block title %}Галерея{% endblock title %}

{% block content %}
    <div class="container">
      
        <div class="row">
          {% for painting in paintings %}
            <div class="col-md-4 col-6 text-center ">
                <a href="{% url 'painting_detail' painting.slug %}" class="link">
                <img src="{{ painting.image.url }}" class="img-fluid rounded">
                <h3>{{ painting.title }}</h3>
                </a>
            </div>
            {% endfor %}
            <p>{{ painting.image.url }}</p>
         </div> 
     </div>
  
{% endblock content %}
