{% extends "gallery/base.html" %}
{% block title %}Painting{% endblock title %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-5">
        <img src="{{painting.image.url}}" alt="" class="img-fluid">
        </div>
        <div class="col-7">
          <a href="{% url 'author_profile' user_id=painting.author.id %}" class="">{{painting.author}}</a>
          {{painting.title}}
          {{painting.text}}
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock content %}



