{% extends "gallery/base.html" %}
{% block title %}Politics{% endblock title %}

{% block content %}
<div class="container py-4">
    <h1 class="text-center text-primary mb-4">Ich akzeptiere die Teilnahmebedingungen für die Ausstellung und den Verkauf meiner Werke</h1>
    
    <div class="card shadow p-4">
        <p class="lead">
            <strong>Vereinbarung über die Teilnahme an der Ausstellung und dem Verkauf von Kunstwerken</strong>
        </p>
        <p>
            Ich bestätige meine Teilnahme an der Kunstausstellung <strong>„SO SEHE DAS ICH“</strong> und bin mit der Präsentation der von mir ausgewählten Kunstwerke zum Verkauf bzw. der Teilnahme an einer Auktion einverstanden.
        </p>

        <hr>

        <p>Ich verstehe und akzeptiere die folgenden Bedingungen:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Wenn meine Arbeit auf einer Ausstellung oder Auktion verkauft wird, werden <strong>20 %</strong> des Endpreises als Provision an die Organisatoren der Ausstellung überwiesen, um zukünftige Veranstaltungen zu unterstützen und durchzuführen.</li>
            <li class="list-group-item">Die restlichen <strong>80%</strong> der Verkaufssumme werden mir nach Abschluss der Ausstellung gemäß den vereinbarten Konditionen überwiesen.</li>
            <li class="list-group-item">Ich garantiere, dass ich der rechtmäßige Urheber und Urheberrechtsinhaber der eingereichten Werke bin und das Recht habe, darüber zu verfügen.</li>
            <li class="list-group-item">Die Veranstalter haften nicht für Schäden oder Verluste von Werken im Falle höherer Gewalt.</li>
            <li class="list-group-item">Die Teilnahme an der Ausstellung verpflichtet mich nicht zum Verkauf der Werke. Sollte jedoch im Rahmen der Veranstaltung ein Verkauf der Werke erfolgen, sind die Bestimmungen dieser Vereinbarung verbindlich.</li>
        </ul>
        <div class="">
            <a href="/register" class="">zurückkommen"</a>
        </div>
    </div>
</div>
{% endblock content %}
