@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Lora:wght@400;600&family=Roboto:wght@300;500&display=swap');


/* GLOBAL */
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.title {
    font-family: 'Montserrat', sans-serif; /* Используем Montserrat */
    font-size: 2.5rem; /* Регулируем размер */
    font-weight: bold; /* Делаем жирным */
    text-align: center; /* Центрируем текст */
    color: #FFD900;
    text-decoration: underline;
    margin-bottom: 20px;
}

.title-2 {
    font-family: 'Montserrat', sans-serif; /* Используем Montserrat */
    font-size: 2rem; /* Регулируем размер */
    font-weight: bold; /* Делаем жирным */
    text-align: center; /* Центрируем текст */
    color: #FFD900;
    margin-bottom: 20px;
}

.text-custom {
    font-family: 'Montserrat', sans-serif; /* Используем Montserrat */
    font-size: 1.2rem; /* Умеренный размер текста */
    font-weight: normal; /* Обычная жирность */
    text-align: center; /* Центрируем текст */
    line-height: 1.6; /* Делаем текст читабельнее */
}
/* GLOABAL ENDS */






.picture {
    width: 40px;
    height: 60px; 
    vertical-align: bottom !important;
    display: flex;
}
body {
    font-family: 'Montserrat', sans-serif !important;;
    background-color: white !important;
}







/* FOOTER */


.footer{
    margin-top: 100px;
    /* background-color: #25283D; */

}

.con {
    width: 100%;
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center;     /* Вертикальное центрирование */
    height: 15%; 
}

.footer-link {
    font-family: 'Montserrat', sans-serif; /* Используем Montserrat */
    font-size: 20px; /* Регулируем размер */
    font-weight: bold; /* Делаем жирным */
    text-align: center; /* Центрируем текст */
    color: #FFD900 !important;
    text-decoration: none;
}


.footer-text{
    font-family: 'Montserrat', sans-serif; /* Используем Montserrat */
    font-size: 20px; /* Умеренный размер текста */
    font-weight: normal; /* Обычная жирность */
    text-align: center; /* Центрируем текст */
    line-height: 1.6; /* Делаем текст читабельнее */
    color: #FFD900 !important;
}

.footer-mail{
    font-family: 'Montserrat', sans-serif; /* Используем Montserrat */
    font-size: 20px; /* Регулируем размер */
    font-weight: bold; /* Делаем жирным */
    text-align: center; /* Центрируем текст */
    color: #FFD900 !important;
}

.list-unstyled {
    justify-content: center;
    align-items: center ;   
    text-align: center;
}

.shit {
    color: #FFD900 !important;
}

/* FOOOTER ENDS */



















/* NAVBAR */
.navbar .nav-link {
    color: #FFD900 !important;
    font-weight: bold;
    font-size: 30px;
    padding-right: 20px;

}

/*  .navbar {
    border-bottom: 10px red !important;
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    margin: 5px; 
    padding: 5px 10px; 
    position: sticky !important;
    top: 5 !important;
    z-index: 1000 !important; 
} */
.navbar-brand {
    color: #FFD900 !important;
    font-weight: bold !important;
    font-size: 30px !important;
    padding-right: 20px !important;
    text-decoration: underline !important;
}

.container-navbar {
    width: 1600px !important;
}


.carousel-item img {
    height: 840px;  /* или другая удобная высота */
    width: auto;  /* сохраняем пропорции */
    object-fit: cover; /* Обрезает края, но сохраняет заполненность контейнера */
}

/* NAVBAR ENDS */






/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */














/* SLIDER */


/* Контейнер для слайдов */
.carousel-item {    
    position: relative;
}

/* Эффект размытия */
.slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px); /* Размытие */
}

/* Текст, который будет отображаться поверх слайда */
.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1; /* Текст должен быть поверх изображения */
}

/* Стиль для заголовков текста */
.slider-text {
    font-size: 3rem; /* Настройте размер шрифта */
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
}





/* slider ends */



.invalid-feedback {
    display: block;
    color: #dc3545;
    font-size: 0.875rem;
}

input.is-invalid, select.is-invalid, textarea.is-invalid {
    border-color: #dc3545;
    background-color: #f8d7da;
}


.auction-checkbox {
    width: 30px !important;
    height: 30px !important;
    margin-top: 5px;
  }



/* Стили для профиля */
.profile-pic {
    width: 200px;    /* Фиксированная ширина */
    height: 200px;   /* Фиксированная высота */
    object-fit: cover;
    border: 5px solid #ffcc00; /* Желтая рамка */
  }
  
  .author-name {
    font-family: 'Arial', sans-serif;
    color: #d9534f; /* Красный цвет */
    font-size: 2rem;
  }
  
  .bio-title {
    color: #d9534f; /* Красный */
    font-size: 1.5rem;
  }
  
  .bio-text {
    color: #5a5a5a; /* Серый для текста */
  }
  
  .paintings-title {
    color: #ffcc00; /* Желтый */
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  /* Стили для картин */
  .painting-item img {
    width: 100%;          /* Ширина изображения 100% от родительского контейнера */
    height: 250px;        /* Фиксированная высота для картин */
    object-fit: cover;    /* Сохранение пропорций изображения */
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .painting-item img:hover {
    transform: scale(1.05); /* Легкое увеличение при наведении */
  }
  
  .painting-title {
    color: #d9534f;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .painting-text {
    color: #6c757d; /* Легкий серый для текста */
  }
  
  .painting-link {
    text-decoration: none;
  }
  

  /* global styles */
h1, h2, h3, .btn-warning, .text-warning {
    color: #FFC300 !important;
}

.btn-warning {
    background-color: green!important;
    border-color: green !important;
}

/* Если ты хочешь, чтобы другие элементы (например, ссылки) тоже стали желтыми */

